{% extends 'room_v3.html' %}
{% load static %}

{% block title %} - Home{% endblock %}

{% block content %}
<div class="homepage-container" id="homepageContainer">
    <div class="homepage-header">
        <div>
            <!-- <h1>欢迎加入Pecktra</h1> -->
            <p class="lead">Sillytavern 酒馆宇宙聊天大赛火热进行中！</p>
            <p>展示你的对话内容和剧情设计 赢取官方奖励与观众打赏 与全球玩家实时共创、互动</p>
            <p></p>
            <p>点击左上角跳转链接，即可参赛～详情请见Discord社区</p>
            <a href="https://discord.gg/cDHgrU3yYN" class="btn btn-primary mt-3" target="_blank">加入官方Discord社区</a>
        </div>
    </div>
    <div class="homepage-lives">
        <div class="home-live-card-container" id="homeLiveListContainer">
            <!-- 直播卡片由 renderLiveList_home 动态生成 -->
        </div>
    </div>
</div>
{% endblock %}