{% extends 'room_v3.html' %}
{% load static %}

{% block title %} - Home{% endblock %}

{% block content %}
<div class="homepage-container" id="homepageContainer">
    <div class="homepage-header">
        <div>
            <h1>欢迎加入Pecktra</h1>
            <p class="lead">免费体验Gemini API与Claude API，畅享流畅角色互动，创作更丝滑！</p>
            <p>参加写卡比赛，与主播互动10层楼+10条有效评论，即可赢取10 USDT！<br>聊得越多，奖金越高！单人最高10000 USDT等你来拿！</p>
            <a href="https://discord.gg/cDHgrU3yYN" class="btn btn-primary mt-3" target="_blank">加入官方Discord社区</a>
        </div>
    </div>
    <div class="homepage-lives">
        <div class="home-live-card-container" id="homeLiveListContainer">
            <!-- 直播卡片由 renderLiveList_home 动态生成 -->
        </div>
    </div>
</div>
{% endblock %}