{% extends 'room_v3.html' %}
{% load static %}

{% block title %} - Home{% endblock %}

{% block content %}
<div class="homepage-container" id="homepageContainer">
    <div class="homepage-header">
        <div>
            <!-- <h1>欢迎加入Pecktra</h1> -->
            <p class="lead">Welcome to Pecktra's Infinite Universe!</p>
            <p>SillyTavern  as  a  service is free for everyone to use.—Click the link to start using it instantly. Address: <a href="https://st.pecktra.com" target="_blank" rel="noopener noreferrer">https://st.pecktra.com/</a></p>
            <p>This is an interactive universe for creators and fans, where every story can be forked, expanded, and endlessly evolved.</p>
            <p>For FAQs about Sillytavern, you can enter the Sillytavern Assistant's live stream.</p>
            <a href="https://discord.gg/cDHgrU3yYN" class="btn btn-primary mt-3" target="_blank">Discord</a>
        </div>
    </div>
    <div class="homepage-lives">
        <div class="home-live-card-container" id="homeLiveListContainer">
            <!-- 直播卡片由 renderLiveList_home 动态生成 -->
        </div>
    </div>
</div>
{% endblock %}