{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>智能聊天室|登录</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.net/twitter-bootstrap/5.1.1/css/bootstrap.min.css" />
    <script src="https://cdn.staticfile.net/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="text-center">
    <div class="container">
      <form method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">智能聊天室</h1>
        <div class="row">
          <div class="form-floating mb-3 col-md-4 offset-md-4 col-sm-4">
            <input type="text" class="form-control" id="floatingInput" name="username" />
            <label for="floatingInput">用户名</label>
          </div>
        </div>
        <div class="row">
          <div class="form-floating mb-3 col-md-4 offset-md-4 col-sm-4">
            <input type="password" class="form-control" id="floatingPassword" name="password" />
            <label for="floatingPassword">密码</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 offset-md-4 col-sm-4">
            <button class="w-100 btn btn-lg btn-primary" type="submit">登录</button>
          </div>
        </div>
        </br>
        <a href="{% url 'signup' %}" class="text-decoration-none">没有账户，请先注册</a>
      </form>
    </div>
  </body>
</html>
