<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Pecktra</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="#" class="nav-link text-white" data-bs-toggle="tooltip" data-bs-placement="right" title="View Dashboard">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white" data-bs-toggle="tooltip" data-bs-placement="right" title="View Dashboard">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white" data-bs-toggle="tooltip" data-bs-placement="right" title="Check Orders">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                Orders
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white" data-bs-toggle="tooltip" data-bs-placement="right" title="Manage Products">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                Products
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white" data-bs-toggle="tooltip" data-bs-placement="right" title="View Customers">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                Customers
            </a>
        </li>
    </ul>
    <hr>
    <h6 class="text-white mb-2">Lives</h6>
    <div class="scrollarea" style="overflow-y: scroll; max-height: 200px;">
        <a href="#" class="nav-link text-white d-flex align-items-center" data-bs-toggle="tooltip" data-bs-placement="right" title="Join Officer Austin">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
            Officer Austin
        </a>
        <a href="#" class="nav-link text-white d-flex align-items-center" data-bs-toggle="tooltip" data-bs-placement="right" title="Join Blake">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
            Blake
        </a>
        <a href="#" class="nav-link text-white d-flex align-items-center" data-bs-toggle="tooltip" data-bs-placement="right" title="Join Emily">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
            Emily
        </a>
        <a href="#" class="nav-link text-white d-flex align-items-center" data-bs-toggle="tooltip" data-bs-placement="right" title="Join David">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
            David
        </a>
        <a href="#" class="nav-link text-white d-flex align-items-center" data-bs-toggle="tooltip" data-bs-placement="right" title="Join Sarah">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
            Sarah
        </a>
        <a href="#" class="nav-link text-white d-flex align-items-center" data-bs-toggle="tooltip" data-bs-placement="right" title="Join Sarah">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
            Sarah2
        </a>
        <a href="#" class="nav-link text-white d-flex align-items-center" data-bs-toggle="tooltip" data-bs-placement="right" title="Join Sarah">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
            Sarah3
        </a>
    </div>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>