{% load static %}
<div id="pay-modal" class="modal-pay">
    <div class="modal-content-pay">
        <div class="payment-wrapper">
            <div class="brand-logo">Pecktra</div>
            <div class="title-container">
                <h2>充值钻石</h2>
                <p class="subtitle">选择计划以获取更多钻石！</p>
            </div>
            <div class="plans">
                <div class="plan-card">
                    <h3>基础计划</h3>
                    <p class="price">12 USD</p>
                    <p class="diamonds">60 钻石</p>
                </div>
                <div class="plan-card popular con">
                    <h3>标准计划</h3>
                    <p class="price">20 USD</p>
                    <p class="diamonds">100 钻石</p>
                </div>
                <div class="plan-card">
                    <h3>高级计划</h3>
                    <p class="price">100 USD</p>
                    <p class="diamonds">550 钻石</p>
                </div>
            </div>
            <form id="pay-form" method="POST">
                {% csrf_token %}
                <input type="hidden" id="selected-amount" name="crypto_amount" value="">

                <div class="button-container">
                    <button type="button" class="cancel-button" id="close-pay-modal">取消</button>
                    <button type="submit" class="confirm-button">确认充值</button>
                </div>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{% static 'css/pay.css' %}">
