{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>智能聊天室|注册</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.net/twitter-bootstrap/5.1.1/css/bootstrap.min.css" />
    <script src="https://cdn.staticfile.net/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="text-center">
    <div class="container">
      <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">填写注册信息</h1>
        <div class="row">
          <div class="form-floating mb-3 col-md-4 offset-md-4 col-sm-4">
            <input type="text" class="form-control" id="floatingInput" name="username" />
            <label for="floatingInput">{{ formobj.username.label }}</label>
            <span class="help-block">{{ formobj.username.errors.0 }}</span>
          </div>
        </div>
        <div class="row">
          <div class="form-floating mb-3 col-md-4 offset-md-4 col-sm-4">
            <input type="text" class="form-control" id="floatingInput" name="password" />
            <label for="floatingInput">{{ formobj.password.label }}</label>
            <span class="help-block">{{ formobj.password.errors.0 }}</span>
          </div>
        </div>
        <div class="row">
          <div class="form-floating mb-3 col-md-4 offset-md-4 col-sm-4">
            <input type="text" class="form-control" id="floatingInput" name="repassword" />
            <label for="floatingInput">{{ formobj.repassword.label }}</label>
            <span class="help-block">{{ formobj.repassword.errors.0 }}</span>
          </div>
        </div>
        <div class="row">
          <div class="form-floating mb-3 col-md-4 offset-md-4 col-sm-4">
            <input type="text" class="form-control" id="floatingInput" name="nickname" />
            <label for="floatingInput">{{ formobj.nickname.label }}</label>
            <span class="help-block">{{ formobj.nickname.errors.0 }}</span>
          </div>
        </div>
        <div class="row">
          <div class="form-floating mb-3 col-md-4 offset-md-4 col-sm-4">
            <input type="text" class="form-control" id="floatingInput" name="email" />
            <label for="floatingInput">{{ formobj.email.label }}</label>
            <span class="help-block">{{ formobj.email.errors.0 }}</span>
          </div>
        </div>
        <div class="row">
          <div class="form-floating mb-3 col-md-4 offset-md-4 col-sm-4">
            <input type="text" class="form-control" id="floatingInput" name="telephone" />
            <label for="floatingInput">{{ formobj.phone.label }}</label>
            <span class="help-block">{{ formobj.phone.errors.0 }}</span>
          </div>
        </div>
        <div class="row">
          <div class="form-floating mb-3 col-md-4 offset-md-4 col-sm-4">
            <label>{{ formobj.img.label }}</label>
            <div>
              <label for="{{ formobj.img.id_for_label }}" class="col-sm-2 control-label">
                {{ formobj.img }}
                <img id="file-img" src="https://vectorified.com/image/cartoon-airplane-vector-12.jpg" style="height:100px;width:100px;" />
                <script>
                  var fileInput = document.querySelector('input[type="file"]'),
                    previewImg = document.querySelector('img')
                  fileInput.addEventListener(
                    'change',
                    function () {
                      var file = this.files[0]
                      var reader = new FileReader()
                      reader.addEventListener(
                        'load',
                        function () {
                          previewImg.src = reader.result
                        },
                        false
                      )
                      reader.readAsDataURL(file)
                    },
                    false
                  )
                </script>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-4 col-sm-4">
            <button class="w-100 btn btn-lg btn-primary" type="submit">注册</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
